header h1 {
    text-align: center;
}

#general-content {
    width: 960px;
    margin: 0 auto;
    min-height: 446px;
}

nav {
    padding-top: 40px;
}

footer {
    background: blue;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-weight: bold;
}